{% extends 'base.html.twig' %}

{% block title %} Details {% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card shadow-none p-3 mb-5 bg-light rounded">
            <div class="card-body">
                <h2 class="card-title">{{ account.getAccountName()}}</h2>
                <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h4 class="col">Téléphone : {{ account.getBillingCity() }}</h4> <br/>
                </li>
                <li class="list-group-item">
                    <h4 class="col"> Website : <a href="{{ account.website }}" target="_blank">{{ account.website }}</a></h4> <br/>
                </li>
                <li class="list-group-item">
                    <h4 class="col"> Adresse : {{ account.getOfficePhone() }}</h4>
                </li>
                <li class="list-group-item">
                    <h4 class="col"> Assigné à : {{ account.getAssignedTo() }}</h4>
                </li>
                <li class="list-group-item">
                    <h4 class="col">
                        Contact{{ contacts|length > 1 ? 's':'' }} :
                        {% for contact in contacts %}
                            <span><a href="{{ path('contact_details', {id:contact.id}) }}">{{ contact.getFirstName() }} {{ contact.getLastName() }}</a></span>
                        {% endfor %}
                    </h4>
                </li>
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-info"><a href="{{ path('account') }}" class="card-link" style="color: #f5f7ff">Retour</a></button>
                <button type="button" class="btn btn-danger"><a href="{{ path('remove_account', {id:account.id}) }}" style="color: #f5f7ff" class="card-link">Supprimer</a></button>
            </div>
        </div>
        <span class="display-4">Interactions</span>
        <div class="row">
            {% for contact in contacts %}
                {% for interaction in contact.interactions %}
                    {% if interaction is not null and interaction  is defined %}
                        <div class="card mt-5 ml-5 mb-5 col-sm-12 col-md-10 col-lg-4 shadow rounded">
                            <div class="card-body">
                                {% if interaction.type == "Phone" %}
                                    <h3 class="card-title alert-success">{{ interaction.type }} : {{ interaction.status }}</h3>
                                {% elseif interaction.type == "Email" %}
                                    <h3 class="card-title alert-primary">{{ interaction.type }} : {{ interaction.status }}</h3>
                                {% elseif interaction.type == "Meeting" %}
                                    <h3 class="card-title alert-warning">{{ interaction.type }} : {{ interaction.status }}</h3>
                                {% else %}
                                    <h3 class="card-title alert-danger">{{ interaction.type }} : {{ interaction.status }}</h3>
                                {% endif %}
                                <p class="card-text"> Déroulement : {{ interaction.getCreatedDate() | date('d-m-Y') }} - {{ interaction.getDateDue() | date('d-m-Y') }}</p>
                                <p class="card-text"> Entreprise : {{ interaction.contact.account }}</p>
                                <p class="card-text"> Contact : <a href="{{ path('contact_details', {id:interaction.contact.id}) }}">{{ interaction.contact }}</a></p>
                                <p class="card-text"> Assigné à : {{ interaction.getAssignedTo() }}</p>
                                <p class="card-text"> Notes :  {{ interaction.description }}</p>
                            </div>
                            <div class="card-footer">
                                <div class="float-left">
                                    <a href="{{ path('edit_interaction', {id:interaction.id}) }}" class="ml-4">
                                        <i class="fas fa-edit"></i> Éditer
                                    </a>
                                    <a href="{{ path('remove_interaction', {id:interaction.id}) }}" class="ml-4">
                                        <i class="fas fa-trash-alt"></i> Supprimer
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
