{% extends 'base.html.twig' %}

{% block title %}Comptes{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-6">
            <div class="row float-left">
                <div class="col p-4">
                    <button type="button" class="btn btn-light bg-white"> <a href="{{ path('contact') }}"><i class="fas fa-users"></i> Contacts </a> </button>
                </div>
                <div class="col p-4">
                    <button type="button" class="btn btn-light bg-white"> <a href="{{ path('opportunity') }}"><i class="fas fa-building"></i> Affaires</a> </button>
                </div>
                <div class="col p-4">
                    <button type="button" class="btn btn-light bg-white"> <a href="{{ path('interaction') }}"><i class="far fa-calendar-check"></i> Activité/Tâches</a> </button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row float-right">
                <div class="col p-4">
                    <button type="button" class="btn btn-light bg-white"> <a href="{{ path('add_account') }}"><i class="fas fa-plus"></i> Ajouter</a> </button>
                </div>
                <div class="col p-4">
                    <button type="button" class="btn btn-light bg-white"> <a href="#"><i class="fas fa-cloud-download-alt"></i> Exporter</a> </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom Compte</th>
                <th scope="col">Ville de facturation</th>
                <th scope="col">Site web</th>
                <th scope="col">Téléphone de bureau</th>
                <th scope="col">Assigné à</th>
                <th scope="col" colspan="3" class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for account in accounts %}
                {% if account is not null and account  is defined %}
                    <tr>
                        <th scope="row">{{ account.id }}</th>
                        <td>{{ account.getAccountName() }}</td>
                        <td>{{ account.getBillingCity() }}</td>
                        <td><a href="{{ account.website }}" target="_blank">{{ account.website }}</a></td>
                        <td>{{ account.getOfficePhone() }}</td>
                        <td>{{ account.getAssignedTo() }}</td>
                        <td><a href="{{ path('account_details', {id:account.id}) }}"><i class="far fa-eye"></i></a></td>
                        <td><a href="{{ path('edit_account', {id:account.id}) }}"><i class="far fa-edit"></i></a></td>
                        <td><a href="{{ path('remove_account', {id:account.id}) }}"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
