{% extends 'base.html.twig' %}

{% block title %}Comptes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-6">
            <div class="row float-left">
                <div class="col p-4">
                    <a href="{{ path('contact') }}">
                        <button type="button" class="btn btn-light shadow shadow bg-white rounded">
                            <span class="template_btn"><i class="fas fa-users"></i> Contacts</span>
                        </button>
                    </a>
                </div>
                <div class="col p-4">
                    <a href="{{ path('opportunity') }}">
                        <button type="button" class="btn btn-light shadow shadow bg-white rounded">
                            <span class="template_btn"><i class="fas fa-building"></i> Affaires</span>
                        </button>
                    </a>
                </div>
                <div class="col p-4">
                    <a href="{{ path('interaction') }}">
                        <button type="button" class="btn btn-light shadow shadow bg-white rounded">
                            <span class="template_btn"><i class="far fa-calendar-check"></i> Activité/Tâches</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row float-right">
                <div class="col p-4">
                    <a href="{{ path('add_account') }}">
                    <button type="button" class="btn btn-light shadow float-right shadow bg-white rounded">
                        <span class="template_btn"><i class="fas fa-plus"></i> Ajouter</span>
                    </button>
                    </a>
                </div>
                <div class="col p-4">
                    <a href="#">
                        <button type="button" class="btn btn-light shadow float-right shadow bg-white rounded">
                            <span class="template_btn"><i class="fas fa-cloud-download-alt"></i> Exporter</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div id="presidents" class="table-responsive-md table-responsive-sm table-responsive-lg">Loading...</div>
    </div>

    <!--div class="container-fluid">
        <div class="table-responsive">
            <fieldset>
                <caption><h2>Liste des Comptes</h2></caption>
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom Compte</th>
                        <th scope="col">Ville de facturation</th>
                        <th scope="col">Site web</th>
                        <th scope="col">Téléphone de bureau</th>
                        <th scope="col">Assigné à</th>
                        <th scope="col" colspan="3" class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#% for account in accounts %}
                        {% if account is not null and account  is defined %}
                            <tr>
                                <th scope="row">{{ account.id }}</th>
                                <td>{{ account.getAccountName() }}</td>
                                <td>{{ account.getBillingCity() }}</td>
                                <td><a href="{{ account.website }}" target="_blank">{{ account.website }}</a></td>
                                <td>{{ account.getOfficePhone() }}</td>
                                <td>{{ account.getAssignedTo() }}</td>
                                <td><a href="{{ path('account_details', {id:account.id}) }}"><i class="far fa-eye"></i></a></td>
                                <td><a href="{{ path('edit_account', {id:account.id}) }}"><i class="far fa-edit"></i></a></td>
                                <td><a href="{{ path('remove_account', {id:account.id}) }}"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                        {% endif %}
                    {% endfor %#}
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div-->
</div>
{% endblock %}

{% block javascript %}
    <!-- Insert this at the end of your body element, but before the closing tag -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            let table = $('#presidents');
            if (table && table.initDataTables) {
                table.initDataTables({{ datatable_settings(datatable) }}, { searching: true,});
            }
        });
    </script>
{% endblock %}
