{% extends 'base.html.twig' %}

{% block title %}Hello OpportunityController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-6">
                <div class="row float-left">
                    <div class="col p-4">
                        <a href="{{ path('contact') }}">
                            <button type="button" class="btn btn-light shadow float-right shadow bg-white rounded">
                                <span class="template_btn"><i class="fas fa-users"></i> Contacts </span>
                            </button>
                        </a>
                    </div>
                    <div class="col p-4">
                        <a href="{{ path('interaction') }}">
                            <button type="button" class="btn btn-light shadow float-right shadow bg-white rounded">
                                <span class="template_btn"><i class="far fa-calendar-check"></i> Activité/Tâches </span>
                            </button>
                        </a>
                    </div>


                </div>
            </div>
            <div class="col-6">
                <div class="row float-right">
                    <div class="col p-4">
                        <a href="{{ path('add_opportunity') }}">
                            <button type="button" class="btn btn-light shadow float-right shadow bg-white rounded">
                                <span class="template_btn"><i class="fas fa-plus"></i> Ajouter</span>
                            </button>
                        </a>
                    </div>
                    <div class="col p-4">
                        <a href="#">
                        <button type="button" class="btn btn-light shadow float-right shadow bg-white rounded">
                            <span class="template_btn"><i class="fas fa-cloud-download-alt"></i> Exporter</span>
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div id="presidents" class="table-responsive-md table-responsive-sm table-responsive-lg">Loading...</div>
    </div>
    <!--div class="container-fluid">
        <div class="table-responsive">
            <fieldset>
                <caption><h2>Liste des Affaires</h2></caption>
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom affaire</th>
                        <th scope="col">Compte relatif</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Écheance</th>
                        <th scope="col">Assigné à</th>
                        <th scope="col">Phase de vente</th>
                        <th scope="col">Probabilité</th>
                        <th scope="col" colspan="3" class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#% for opportunity in opportunities %}
                        {% if opportunity is not null and opportunity  is defined %}
                            <tr>
                                <th scope="row">{{ opportunity.id }}</th>
                                <td>{{ opportunity.getName() }}</td>
                                <td>{{ opportunity.account }}</td>
                                <td>{{ opportunity.amount }}€</td>
                                <td>{{ opportunity.getDateDue() | date('D M Y') }}</td>
                                <td>{{ opportunity.getAssignedTo() }}</td>
                                <td>{{ opportunity.status }}</td>
                                <td>{{ opportunity.probability ? opportunity.probability : '0' }}%</td>
                                <td><a href="{{ path('opportunity_details', {id:opportunity.id}) }}"><i class="far fa-eye"></i></a></td>
                                <td><a href="{{ path('edit_opportunity', {id:opportunity.id}) }}"><i class="far fa-edit"></i></a></td>
                                <td><a href="{{ path('remove_opportunity', {id:opportunity.id}) }}"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                        {% endif %}
                    {% endfor %#}
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div-->
{% endblock %}

{% block javascript %}
<!-- Insert this at the end of your body element, but before the closing tag -->
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            let table = $('#presidents');
            if (table && table.initDataTables) {
                table.initDataTables({{ datatable_settings(datatable) }}, { searching: true,});
            }
        });
    </script>
{% endblock %}
