{% extends 'base.html.twig' %}

{% block title %} Details {% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card shadow-none p-3 mb-5 bg-light rounded">
            <div class="card-body">
                <h2 class="card-title">{{ lead.getFirstName() }} {{ lead.getLastName() }}</h2>
                <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h4 class="col">Téléphone : {{ lead.phone }}</h4> <br/>
                    <h4 class="col">Email : {{ lead.email }}</h4>
                </li>
                <li class="list-group-item">
                    <h4 class="col"> Website : {{ lead.website }}</h4> <br/>
                    <h4 class="col"> Industry : {{ lead.industry }}</h4>
                </li>
                <li class="list-group-item">
                    <h4 class="col"> Adresse : {{ lead.street }} {{ lead.zipcode }} {{ lead.city }}</h4>
                </li>
                <li class="list-group-item">
                    <h4 class="col"> Status : {{ lead.status }}</h4> <br/>
                    <h4 class="col"> Assigné à : {{ lead.getAssignedTo() }}</h4>
                </li>
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-primary"><a href="{{ path('lead') }}" class="card-link" style="color: #f5f7ff">Retour</a></button>
                <button type="button" class="btn btn-primary"><a href="{{ path('remove_lead', {id:lead.id}) }}" style="color: #f5f7ff" class="card-link">Supprimer</a></button>
            </div>
        </div>
    </div>
{% endblock %}
